@import "tailwindcss";

:root {
  font-family: var(--font-dm-sans), sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-gray_787878: #787878;
  --color-gray_79747E : #79747E;
  --color-black_313131 : #313131;
  --color-black_1C1B1F : #1C1B1F;
  --color-blue_fffff2 : #515DEF;
  --color-blue_primary : #515DEF;
  --color-red_ff8682 : #FF8682;
  --text-fs-16: 1rem;
  --text-fs-20: 1.25rem;
  --text-fs-24: 1.5rem;
  --text-fs-32: 2rem;
  --text-fs-60: 3.75rem;

  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;
}
